@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Hackatón Universidad de Caldas MisiónTIC 2022</h2>
    <img src="logo.png" />
</div>
